.cards {
	display: flex;
	flex-direction: row;
}


	.cards img{	
		width: 100%;
		border-radius: 20px;
		}
	
		.info {
			display: flex;
			justify-content: space-between;
		}	
	
		.cards p {
			font-size:16px ;
			font-weight: 500;
			
		}
		.cards h4 {
			font-size:20px ;
			font-weight: 800;
		}

		.infoText a {
			color: #061019;
			font-size: 20px;
		}

		.options{
			display: flex;
			gap:20px;
			flex-wrap: wrap;
		}

@media (max-width: 768px) {
	.cards{
			flex-direction: column;
			
		}
	.cards img{	
	width: 100%;
	border-radius: 5px;
			
	}

	.cards p {
		font-size:12px ;
		font-weight: 500;
		width: 105px;
	}
	.cards h4 {
		font-size:20px ;
		font-weight: 700;
	}

	.cards a {
		font-size:16px ;
		font-weight: 700;
		width: 198px
	}

	.info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex: 1;
		width: 100%;
		margin-bottom: 10px;
	}

	.infoText{
		display: flex;
		flex-direction: column;
	}
	
	.infoText a {
		color: #061019;
		font-size: 20px;
	}
	.options{
		flex-direction: column;

	}
}
