/* .banner {
	position: relative;

	height: 100dvh;
	width: 100%;

	contain: paint;

	border-radius: 20px;
}

.banner img {
	width: 100%;
}

.banner img:nth-of-type(1) {
	height: 100%;

	position: absolute;
	bottom: 0;

	object-fit: cover;
	object-position: bottom;
}

.banner img:nth-of-type(2) {
	position: sticky;
	top: 0;
}

.banner img:nth-of-type(3) {
	position: absolute;

	left: 50%;
	translate: -50% 0;
	
	bottom: 0;
} */

.banner {
	position: relative; /* Define que as imagens posicionadas absolutas ficam dentro deste contêiner */
	width: 100%;
	border-radius: 20px;

	overflow: hidden; /* Garante que nada saia dos limites do banner */
  }
  
  .banner img:first-child {

	width: 100%;
	
	height: 100%; /* A imagem de fundo ocupa todo o banner */
	object-fit: cover; /* Faz a imagem de fundo cobrir o espaço sem distorção */
	z-index: 1; /* Define que esta imagem está no plano de fundo */
  }
  
  .banner img:nth-child(2) {
	position: absolute;
	top: 20%; /* Ajuste a posição vertical da logo */
	left: 50%; /* Centraliza horizontalmente */
	transform: translate(-50%, -50%); /* Garante que a imagem fique centralizada */
	z-index: 2; /* Coloca a logo acima do fundo */
	max-width: 120%; /* Ajusta o tamanho da logo */
  }
  
  .banner img:nth-child(3) {
	position: absolute;
	top: 58%; /* Ajuste a posição vertical da terceira imagem */
	left: 50%; /* Centraliza horizontalmente */
	transform: translate(-50%, -50%); /* Garante que a imagem fique centralizada */
	z-index: 10; /* Coloca esta imagem acima das outras */
	height: 100;
	max-width: 210%; /* Ajusta o tamanho da terceira imagem */
  }