.banner {
    position: relative;

    height: 100dvh;
    width: 100%;

    contain: paint;

    border-radius: 20px;
}

.banner img {
    width: 100%;
}

.banner img:nth-of-type(1) {
    height: 100%;

    position: absolute;
    bottom: 0;

    object-fit: cover;
    object-position: bottom;
}

.banner img:nth-of-type(2) {
    position: sticky;
    top: 0;
}

.banner img:nth-of-type(3) {
    width: calc(100% + 500px);

    position: absolute;

    left: 50%;
    translate: -50% 0;

    bottom: 0;
}

@media (min-width: 1024px) {
    .banner img:nth-of-type(3) {
        width: calc(100% + 100px); 
    }
}